.space_area_height {
    height: 70px;
    width: 100%;
    background-color: transparent;
}

.space_area_height_small {
    height: 16px;
    width: 100%;
    background-color: transparent; 
}

/* .space_area_width_small {
    height: 100%;
    width: 30px;
    background-color: transparent;
} */

.hr_main_content {
    border: none;
    border-top: 2px solid #dadcdf;
    margin: 2rem 0; 
    margin-right: 30px;
}

.hr_basket_content {
    border: none;
    border-top: 2px solid #ffffff1a;
    margin: 2rem 0;
}

/* Adds product to basket */
.add_icon {
    position: absolute;
    top: -7px;
    right: -7px;
    height: 42px;
    width: 42px;
    cursor: pointer; 
}

.white_aligned_icons {
    height: 18px;
    cursor: pointer;
}

.bestellbutton_warenkorb {
    height: 50px;
    width: 100%;
    border: none;
    background-color: #b77b62;
    color: white;
    font-family: 'Outfit';
    font-size: 16px;
    cursor: pointer;
}

.close-button {
  position: absolute;
  top: 14px;
  right: 14px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 2px;
}