.basket_wrapper {
    position: relative;
    width: 310px;
    min-width: 310px;
}

.basket_content {
    background-color: #2a5b59;
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 0;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    overflow: auto;
}

.product_info_aligned {
    display: flex;
    justify-content: space-between;
}

.product_info_aligned_child {
    display: flex;
    align-items: center;
    gap: 14px;
}

.product_info p {
    font-size: 16px;
    font-weight: 300;
    color: #ffffff;
}

.price_text span {
    font-size: 16px;
    font-weight: 300;
    color: #ffffff;
    padding-bottom: 4px;
}

.price_text_child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom_basket_dialog {
    position: relative;
    width: 310px;
    min-width: 310px;
    height: 100vh;
    margin: auto;
}

.bottom_basket_dialog::backdrop {
    background: #2a5b59;
}

.basket_bottom_content {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #2a5b59;
    width: 100%;
    /* height: 100vh; */
    padding: 30px;
    overflow: auto;
}

.close_responsive_basket {
    display: flex;
    justify-content: flex-end;
    padding-top: 16px;
}

.no-scroll {
  overflow: hidden;
}